---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, year, body, collaborator } = Astro.props;
---

<li class="box link-card">
	<a href={href}>
    <div class="grid">
      <div class="info">
        <p class="title">
          {title}
          <!-- &rarr; -->
        </p>
        <!-- <hr/> -->
        <p class="collaborator">
          {year}
          { collaborator !== "none" && <span> - {collaborator}</span> }
        </p>
      </div>
      <div class="desc">
        <p>
          {body}
        </p>
</div>
    </div>
	</a>
</li>

<style>
	.link-card {
		list-style: none;
		padding: 0;
		background-color: var(--ox-bg);
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		padding: var(--padding);
		  transition: border 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	 .link-card > a {
		text-decoration: none;
		border-radius: 8px;
		color: var(--ox-fg);
	}

  /* @media screen and (min-width: var(--cutoff-width)) { */

    .grid {
      display: grid;
      gap: var(--padding);
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        "info desc"
    }

    .info {
      grid-area: info;
      border-right: var(--border);
      border-color: var(--ox-pink);
      padding-right: 1rem;
    }

    .desc {
      grid-area: desc;
    }

  @media screen and (max-width: 600px) {
    .grid {
      grid-template-columns: 1fr;
      grid-template-areas:
        "info"
        "desc"
    }
    .info {
      border-right: none;
      border-left: var(--border);
      border-color: var(--ox-pink);
      padding-left: 1rem;
    }
  }


	.title {
		margin: 0;
    font-family: var(--font-bold);
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

  .collaborator {
    font-size: 0.8rem;
    font-family: 'IBMPlexMonoItalic';
    text-decoration: italic;
    color: var(--ox-magenta)
  }

  hr {
    border-color: var(--ox-pink);
  }

	p {
		/* margin-top: 0.5rem; */
		/* margin-bottom: 0; */
    margin: 0;
	}

	.link-card:is(:hover, :focus-within)  {
    border: var(--border);
    border-color: var(--ox-orange);
	}

	.link-card:is(:hover, :focus-within) .title {
		color: var(--ox-yellow);
	}
</style>
