---
import Base from "@/layouts/Base";
import Section from "@/layouts/Section";
import CardWide from "@/components/CardWide";

import { Debug } from "astro:components";

export async function getStaticPaths() {
  const allProjects = await Astro.glob("/src/content/projects/**/*.md");
  return allProjects.map((p) => ({
    params: { project: p.frontmatter.slug },
    props: { project: p },
  }));
}

const { frontmatter: fm, Content } = Astro.props.project;
console.log("fm:", fm);
---

<Base title={fm.title}>
  <section class="sectionCard">
    <CardWide
      title={fm.title}
      year={fm.year}
      body={fm.description}
      collaborator={fm.collaborator}
      image={fm.image}
      titleSize="1.6rem"
    />
  </section>

  <section title="sectionTable"></section>

  <section title="sectionBody">
    <div class="no-box text">
      <div>
        {
          (!fm.isDraft && <Content />) || (
            <p class="wipMessage">Still writing this one up!</p>
          )
        }
      </div>
    </div>
  </section>
</Base>
<Debug {Astro.props.project} />

<style>
  .sectionCard {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr)); */
    /* gap: var(--padding); */
    /* padding: 0; */
  }
  .wipMessage {
    margin: 4rem 4rem;
    text-align: center;
  }
</style>
